@import url("./global.css");

.Btn {
   background-color: white;
    width: max-content;
    padding: 10px 45px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  /* .Btn:active {
    transform: translate(1px, 1px);
  } */
  
  .Btn.btn-primary {
    background: var(--purple);
    color: white;
  }
/*   
  .Btn.btn-primary:disabled {
    background: rgb(190, 190, 190);
  } */
  
  .Btn.btn-secondary {
    background: white;
    color: var(--purple);
    border: 1px solid var(--purple);
  }
  
  .Btn.btn-tertiary {
    background-color: var(--main-bg-color);
    color: var(--purple);
    border: 1px solid var(--purple);
  }

  .Btn.btn-cinq{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    padding: 10px 45px;
    font-size: 12px;
  }

  .Btn.btn-cinq:hover{ 
    border: 1px solid rgba(255, 255, 255, 0);
  }