@import url("./global.css");

:root {
  --main-bg-color: #d7edfd;
  --purple: #6a75e0;
}

body {
  background-color: var(--main-bg-color);

}
.logo {
  width: 500px;
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.container button{
  background-color: var(--purple);
  border: none;
  padding: 15px 20px;
  border-radius: 15px 20px;
  color: white;
  margin-top: 20px;
  margin-right: 20px;
}

.left {
  margin-left: 170px;
  margin-top: 130px;
  color: var(--purple);
}

.right {
  margin-top: 170px;
}

