@import url("./global.css");



.logo {
  width: 400px;
  margin-bottom: 40px;
}

.container {
  background-color: var(--main-bg-color);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 100vh;
}


.left {
  font-family: "poppins";
  margin-left: 10vw;
  margin-top: 130px;
  color: var(--purple);
}

.right {
  margin-top: 40px;
  flex-flow: column;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.buttons{
  display: flex;
  justify-content: space-between;
  width: 350px;
}


.spaceButt{
  margin-bottom: 30px;
}

.bookHome{
  width: 650px;
}