

/* BUTTONS GENRES */

.all {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.choices {
  width: 60vw;
  margin: 50px 0px 50px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


/* BIG BOOK CARD

/* .bigcontainer ==> global.css */
.fixed{
    width: 70vw;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}


.cover {
  width: 200px;
  height: 315px;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 30px;
}

.infosright {
  width: 30vw;
  margin-right: 30px;
}

.infosright h1{
    color: var(--purple);
}

.infosright h2{
font-size: 12px;
text-transform: uppercase;
font-weight: 500;
}

.inlineinfos{
display: flex;
flex-direction: row;
align-items: center;
}

.containsummary {
  width: 30vw;
}

.summary {
  position: relative;
  height: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;   */
  /* width: 80vw;
   max-height: 80vh;
   white-space: nowrap;
   
    */
}

.butt {
  background-color: none;
  border: none;
}

.actionicons {
  display: flex;
  flex-direction: column;
  
}
